<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asterias Viewer</title>
    <style>
        #sketch, canvas {padding:0; margin: 0; height: 100%}
        canvas { display: block; position: relative}
/*        #sketch { background-color: greenyellow}*/
        
        
    </style>
    <link rel="stylesheet" href="../../lib/styles/w3.css">
    
    <!-- Vendors -->
    <script src="../../lib/expect.min.js"></script>
    
    
    <!-- Vendors -->
    <script src="../../node_modules/p5/lib/p5.min.js"></script>
    <script src="../../node_modules/p5/lib/addons/p5.dom.js"></script>
    <script src="../../node_modules/lodash/lodash.min.js"></script>
    
    <!-- App code -->
    <script src="../../src/scripts/modules/gene.js"></script>
    <script src="../../src/scripts/modules/organism.js"></script>
    <script src="../../src/scripts/modules/asterias.js"></script>  
    
    <script src="../../lib/redux.min.js"></script>
    <script src="../../src/scripts/store/storeObserver.js"></script>
    <script src="../../src/scripts/actions/actions.js"></script>
    <script src="../../src/scripts/reducer/populationReducer.js"></script>
    
  
    
    <!-- source -->    
    <script src="../../src/scripts/components/asteriasViewContainer.js"></script>    
    
    <!-- my code -->
    <script>
        //this shoudl be val not expression level
        var initState = {
                            position: [0,0],
                            ring: genomeConfig.minring,
                            size: genomeConfig.minsize 
                        }
        
        function updateGeneExpression(gene,level) {
            var obj = {};
            obj[gene] = _.clamp(level,0,1.0);
            return _.assign({},initState, obj);    
        }
        
        var testReducer = function(state,action) {
            switch(action.type) {
                case 'expressionChange':
                    return updateGeneExpression(action.gene,action.level);
                    break;
                case 'move':
                    return Object.assign({},initState,{position: action.payload.position})
                    
                default: 
                    return initState;
                    
            }
        }
        
        function ringExpressionChangeAction(level) {
            return {type:'expressionChange', gene: 'ring', level:level};
        }
        
        function badAction(level) {
            return {type:'uknown', gene: 'ring', level:level};
        }
        
        
        //setup the redux stuff
        var R = Redux.combineReducers({population: populationReducer})
    
//        var store = Redux.createStore(testReducer);
        var store = Redux.createStore(R);
        var getState = store.getState,
            dispatch = function(action) {
                        console.log("{dispatching: " + action.type  +"}");
                console.log("\t...action")
                console.log(action);
                        store.dispatch(action);
                    }
        
        var viewContainer;
        function setup() {
            var canvas = createCanvas(400,400);
            viewContainer = asteriasView({store: store, name:'test01'});
            viewContainer.position(canvas.width*0.5,
                                   canvas.height*0.5);
            
            canvas.parent('sketch')
            background(50)
        }
        
        function draw() {
            background(0);        
            viewContainer.render();
        }
    </script>
    
</head>
<body class="w3-container">
    <div class="w3-section w3-border w3-row-padding w3-grey" style="position:relative; display: flex">
        <section id="sketch" class="w3-section" style="flex: 1">
        </section>
    </div>
    <script>

    </script>
</body>
</html>