<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asterias Viewer</title>
    <style>
        canvas {padding:0; margins: 0; height: 100%}
        #sketch { background-color: greenyellow}
    </style>
    <link rel="stylesheet" href="../../lib/styles/w3.css">
    
    <!-- Vendors -->
    <script src="../../node_modules/p5/lib/p5.min.js"></script>
    <script src="../../node_modules/p5/lib/addons/p5.dom.js"></script>
    <script src="../../node_modules/lodash/lodash.min.js"></script>
<!--    <script src="../lib/redux.min.js"></script>-->
    
    <script src="../../src/scripts/modules/gene.js"></script>
<!--    <script src="../src/scripts/modules/organism.js"></script>-->
<!--    <script src="../src/scripts/modules/asterias.js"></script>    -->
    
    <!-- source -->
    <script src="../../src/scripts/components/geneExpressionComponent.js"></script>
    <script src="../../src/scripts/components/basicSlider.js"></script>    
    
    <!-- my code -->
    <script>
        //cb
        //data.value
        //data.name
        function onChange(data) {
            console.log('got call... '); 
            console.log(data);
        }
        
        //

        // component code 
        var component = geneExpressionComponent({expressionChange:onChange})
        var myslider;
        function setup() {
            myslider = basicSlider({name: 'testSlider',
                                            change: onChange,
                                            label: 'SLIIIDE...'}
                                    );
            
            console.log(myslider._component.props);            
            
            component.initialize();
            createCanvas(200,300);
            background(50)
        }
    </script>
    
</head>
<body class="w3-container">
    <div class="w3-section w3-row-padding" style="display: flex">
        <section id="ui" class="w3-half w3-red" style="flex: 1">  
        </section>
        <section id="sketch" class="w3-half" style="flex: 1">
        </section>
    </div>
    <script>

    </script>
</body>
</html>